@use "./variables" as *;
.grid-container {
  padding: 0.2rem;
  background-color: $primary-color;
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 0.4rem;
}

@media screen and (min-width: 762px) {
  .grid-container {
    grid-template-columns: 1fr, 1fr, 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .grid-container {
    grid-template-columns: 1fr, 1fr, 1fr, 1fr, 1fr;
  }
}
