@use "./grid-layout";

@media screen and (min-width: 10px) {
  .grid-container {
    grid-template-columns: 1fr, 1fr;
  }
}

@media screen and (min-width: 762px) {
  .grid-container {
    grid-template-columns: 1fr, 1fr, 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .grid-container {
    grid-template-columns: 1fr, 1fr, 1fr, 1fr, 1fr;
  }
}
